* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page>nav {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    width: 50vw;
    /* background-color: #000; */
    position: absolute;
    top: 0%;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

#page>nav>button {
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    /* margin-left: 500px; */
    margin-right: -175px;
}

#page>nav>h3 {
    font-weight: 600;
    margin-left: -170px;
    /* margin-right: 200px; */
}

#page>video {
    height: 100%;
    width: 85%;
    object-fit: cover;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page-bottom {
    height: 20%;
    width: 25%;
    /* background-color: green; */
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page-bottom>h3 {
    color: #dadada93;
    margin-bottom: 1vw;
    font-size: 25px;
    font-weight: 200;
}

#page1>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>h1 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page2>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2>h1 {
    font-size: 46px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

#page21 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page21>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page21>h1 {
    font-size: 45px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

#page22 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page22>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page22>h1 {
    font-size: 46px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

#page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page3>img {
    width: 75%;
    position: absolute;
    top: 30%;
    left: 12%;
    transform: translateX(-50%,-50%);
}

#page3-upper {
    height: 25%;
    width: 35%;
    /* background-color: green; */
    position: absolute;
    z-index: 9;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#page3-upper>img {
    position: absolute;
    top: 10%;
    left: 50%;
    /* margin-left: -500px; */
    transform: translateX(-50%);
    width: 100%;
}

#page3-upper-inner {
    position: absolute;
    bottom: 0%;
    height: 60%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    color: #ff823d
}

#page3-upper-inner>h3 {
    font-weight: 600;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 25px;
}

#page3>button {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 1.4vw;
    border: 3px solid #000;
    font-weight: 500;
    background-color: #fff;
    border-radius: 50px;
    scale: 1;
}

#page4 {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}

#page4>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page4 {
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translateX(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

#center-page4>h5 {
    font-size: 23px;
}

#center-page4>h1 {
    font-size: 75px;
}

#page5 {
    display: flex;
    position: relative;
    height: 80vh;
    width: 100vw;
    /* background-color: green; */
}

#left5 {
    position: relative;
    height: 100%;
    width: 50%;
    /* background-color: blue; */
}

#left5>h1 {
    font-size: 2.3vw;
    position: absolute;
    font-weight: 800;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -35px;
    margin-top: 30px;
    /* width: 80%; */
    line-height: 40px;
    top: 10%;
}

#right5 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* background-color: magenta; */
    padding-left: 5vw;
}

#right5>h3 {
    font-size: 20px;
    margin-left: -120px;
    width: 90%;
    margin-top: -20px;
    line-height: 30px;
    color: #4848489d;
}

#right5>button {
    padding: 20px 30px;
    border: none;
    background-color: #ff813d;
    color: #fff;
    margin-left: -120px;
    font-weight: 600;
    border-radius: 50px;
    /* margin-bottom: -300px; */
    margin-top: 300px;
    font-size: 1.3vw;
    margin-top: 4vw;
}

#page41 {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}

#page41>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page41 {
    position: absolute;
    top: 50%;
    left: 17%;
    margin-left: 80px;
    transform: translateX(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

#center-page41>h5 {
    font-size: 23px;
}

#center-page41>h1 {
    font-size: 75px;
}

#page51 {
    display: flex;
    position: relative;
    height: 80vh;
    width: 100vw;
    /* background-color: green; */
}

#left51 {
    position: relative;
    height: 100%;
    width: 50%;
    /* background-color: blue; */
}

#left51>h1 {
    font-size: 2.3vw;
    position: absolute;
    font-weight: 800;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -35px;
    margin-top: 30px;
    /* width: 80%; */
    line-height: 40px;
    top: 10%;
}

#right51 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* background-color: magenta; */
    padding-left: 5vw;
}

#right51>h3 {
    font-size: 20px;
    margin-left: -120px;
    width: 90%;
    margin-top: -20px;
    line-height: 30px;
    color: #4848489d;
}

#right51>button {
    padding: 20px 30px;
    border: none;
    background-color: #ff813d;
    color: #fff;
    margin-left: -120px;
    font-weight: 600;
    border-radius: 50px;
    /* margin-bottom: -300px; */
    margin-top: 300px;
    font-size: 1.3vw;
    margin-top: 4vw;
}

#page42 {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}

#page42>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page42 {
    position: absolute;
    top: 50%;
    left: 20%;
    margin-left: 80px;
    transform: translateX(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

#center-page42>h5 {
    font-size: 23px;
}

#center-page42>h1 {
    font-size: 75px;
}

#page52 {
    display: flex;
    position: relative;
    height: 90vh;
    width: 100vw;
    /* background-color: green; */
}

#left52 {
    position: relative;
    height: 100%;
    width: 50%;
    /* background-color: blue; */
}

#left52>h1 {
    font-size: 2.3vw;
    position: absolute;
    font-weight: 800;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -35px;
    margin-top: 30px;
    /* width: 80%; */
    line-height: 40px;
    top: 10%;
}

#right52 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* background-color: magenta; */
    padding-left: 5vw;
}

#right52>h3 {
    font-size: 20px;
    margin-left: -120px;
    width: 90%;
    margin-top: -10px;
    line-height: 30px;
    color: #4848489d;
}

#right52>button {
    padding: 20px 30px;
    border: none;
    background-color: #ff813d;
    color: #fff;
    margin-left: -120px;
    font-weight: 600;
    border-radius: 50px;
    /* margin-bottom: -300px; */
    margin-top: 300px;
    font-size: 1.3vw;
    margin-top: 4vw;
}

#page43 {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}

#page43>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page43 {
    position: absolute;
    top: 50%;
    left: 20%;
    margin-left: 80px;
    transform: translateX(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

#center-page43>h5 {
    font-size: 23px;
}

#center-page43>h1 {
    font-size: 75px;
}

#page53 {
    display: flex;
    position: relative;
    height: 75vh;
    width: 100vw;
    /* background-color: green; */
}

#left53 {
    position: relative;
    height: 100%;
    width: 50%;
    /* background-color: blue; */
}

#left53>h1 {
    font-size: 2.3vw;
    position: absolute;
    font-weight: 800;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -35px;
    margin-top: 30px;
    /* width: 80%; */
    line-height: 40px;
    top: 10%;
}

#right53 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* background-color: magenta; */
    padding-left: 5vw;
}

#right53>h3 {
    font-size: 20px;
    margin-left: -120px;
    width: 90%;
    margin-top: -20px;
    line-height: 30px;
    color: #4848489d;
}

#right53>button {
    padding: 20px 30px;
    border: none;
    background-color: #ff813d;
    color: #fff;
    margin-left: -120px;
    font-weight: 600;
    border-radius: 50px;
    /* margin-bottom: -300px; */
    margin-top: 300px;
    font-size: 1.3vw;
    margin-top: 4vw;
}

#page6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page6>h3 {
    font-size: 2vw;
    margin-bottom: 0.3vw;
}

#page6>h1 {
    font-size: 5vw;
    font-weight: 900;
    margin-bottom: 4.5vw;
}

#page6>p {
    font-size: 1.8vw;
    width: 60%;
    font-weight: 600;
    color: #545454ae
}

#page7 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page7>canvas {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}

#page8 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page8>h1 {
    width: 15%;
    top: 50%;
    transform: translateY(-50%);
    left: 13%;
    line-height: 23px;
    font-size: 1.3vw;
    font-weight: 600;
    color: #898383;
    z-index: 99;
    position: absolute;
}

#page8>h1>span {
    color: #000;
}

#page9 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page9>h1 {
    width: 15%;
    top: 50%;
    transform: translateY(-50%);
    right: 13%;
    line-height: 23px;
    font-size: 1.3vw;
    font-weight: 600;
    color: #898383;
    z-index: 99;
    position: absolute;
}

#page9>h1>span {
    color: #000;
}

#page10 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page10>h1 {
    width: 15%;
    top: 50%;
    transform: translateY(-50%);
    left: 13%;
    line-height: 23px;
    font-size: 1.3vw;
    font-weight: 600;
    color: #898383;
    z-index: 99;
    position: absolute;
}

#page10>h1>span {
    color: #000;
}

#page11 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page11>h1 {
    width: 15%;
    top: 50%;
    transform: translateY(-50%);
    right: 13%;
    line-height: 23px;
    font-size: 1.3vw;
    font-weight: 600;
    color: #898383;
    z-index: 99;
    position: absolute;
}

#page11>h1>span {
    color: #000;
}

#page12 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page12>h1 {
    width: 15%;
    top: 50%;
    transform: translateY(-50%);
    left: 13%;
    line-height: 23px;
    font-size: 1.3vw;
    font-weight: 600;
    color: #898383;
    z-index: 99;
    position: absolute;
}

#page12>h1>span {
    color: #000;
}

#page13 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page13>h1 {
    width: 15%;
    top: 50%;
    transform: translateY(-50%);
    right: 13%;
    line-height: 23px;
    font-size: 1.3vw;
    font-weight: 600;
    color: #898383;
    z-index: 99;
    position: absolute;
}

#page13>h1>span {
    color: #000;
}

#page14 {
    position: relative;
    height: 120vh;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #fff;
}

#left14 {
    height: 90%;
    width: 43%;
    left: 1.5%;
    position: relative;
    background-size: cover;
    background-image: url("https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_top__k3b8lzqd1l2m_large.jpg");
}

#right14 {
    height: 90%;
    width: 43%;
    /* background-color: aqua; */
    position: relative;
    right: 2.5%;
    background-size: cover;
    background-image: url("https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_side__gm4agomrwl2e_large.jpg")
}

#page15 {
    position: relative;
    height: 120vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-page15 {
    height: 90%;
    width: 94%;
    left: 2%;
    position: relative;
}

#center-page15>video {
    height: 100%;
    width: 95%;
    left: 5%;
    object-fit: cover;
}

#page16 {
    position: relative;
    height: 200vh;
    font-size: 1vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page16>h2 {
    position: absolute;
    width: 50%;
    margin-top: 80px;
    /* top: 50%; */
    color: #7e7c7cc7;
    line-height: 30px;
    align-items: center;
    /* display: flex; */
    justify-items: center;
    font-weight: 600;
    top: 5%;
}

#page16>h2>center>span {
    color: #000;
    /* font-weight: 600; */
}

#page16>img {
    width: 80%;
    position: absolute;
    top: 34%;
}

#page16>button {
    position: absolute;
    bottom: 10%;
    padding: 18px 20px;
    font-size: 1.5vw;
    border-radius: 50px;
    background-color: #f97630;
    color: #fff;
    border: none;
    font-weight: 600;
}

#page17{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

#page17>h4{
    font-size: 1.8vw;
    font-weight: 600;
    margin-bottom: 2vw;
}

#page17>h1{
    font-size: 5.3vw;
    line-height: 1;
    /* font-weight: 500; */
    margin-bottom: 3vw;
}

#page17>p{
    font-size: 1.7vw;
    margin-top: 1%;
    font-weight: 600;
    /* margin-bottom: 2vw; */
    color: #ffffff7c;
    width: 55%;
    text-align: center;
}
#page17>p>span{
    color: #fff;
}

#page18 {
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0%;
    /* background-color: #000; */
}

#page18>canvas {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    /* overflow:scroll; */
    /* display: inline; */
    /* z-index: 99; */
}

#page19 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    /* display: inline; */
    font-size: 1.2vw;
}

#page19>h5 {
    margin-top: 40px;
    font-size: 1.5vw;
    color: #b3aaaa;
    line-height: 28px;
    width: 50%;
}

#page19>h5>span {
    color: #fff;
}

#page20{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page20>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page20{
    position: absolute;
    height: 20%;
    width: 30%;
    bottom: 6%;
    right: 15%;
    color: #fff;
}

#center-page20>h1{
    margin-bottom: 1vw;
    font-size: 2.2vw;
}

#page121{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page121>#troff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 70%;
    z-index: 9;
}

#page121>#tron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 70%;
}

#space {
    height: 30vh;
    color: #fff;
    background-color: #000;
    /* overscroll-behavior: none; */
}

#page122{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* margin-top: 20%;
    margin-bottom: 20%; */
    background-color: #000;
}

#page122>#snroff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 75%;
    z-index: 9;
}

#page122>#snron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 75%;
}

#page23{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page23>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity:0
}

#space-up {
    background-color: #000;
    height: 15vh;
}